SEA_LION_API_KEY_SISWA=ask_team_lead
GITHUB_TOKEN=ask_team_lead
GITHUB_REPO_OWNER=RiFtNaWx
GITHUB_REPO_NAME=PythonAutomation
DEFAULT_BRANCH=main
DEFAULT_REVIEWER=RiFtNaWx
SEA_LION_MODEL=aisingapore/Qwen-SEA-LION-v4.5-27B-IT
